{% extends "master.html" %}

{% block content %}

<main class="container">
    <div class="row my-5">
        <div class="col-md-4 offset-md-4">
            <form action="/signin/" method="post" class="card card-body">
                <h1 class="text-center">Ingresar</h1>
                {{ error }}
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Nombre de usuario:</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Nombre de usuario">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña">
                </div>
                <button class="btn btn-primary">Ingresar</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}