{% extends "master.html" %}

{% block content %}
<h1>TAREAS PENDIENTES</h1>
<ul>
{% for task in tasks %}
    <li>
        <a href="{% url 'detail_task' task.id %}">
            {% if task.important %}
            <h1><strong>{{ task.title }}</strong></h1>
            {% else %}
            <h1>{{ task.title }}</h1>
            {% endif %}
            <p>{{ task.description }}</p>
            <p>{{ task.user.username }}</p>
            <p>{{ task.dateCompleted | date:'M j Y:i' }}</p>
        </a>
    </li>
{% endfor %}
</ul>
{% endblock %}